[submodule "pythons/pythons/Termo-de-responsabilidade-autom-tico"]
	path = pythons/pythons/Termo-de-responsabilidade-autom-tico
	url = https://github.com/ThiagoRosa21/Termo-de-responsabilidade-autom-tico
